<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container-fluid">
        <h1><%= link_to "Event Planner", root_path %></h1>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <p class="nav-item text-bg-dark">Hello <%= current_user.name %></p>
          <%= link_to "All events", events_path, class: "nav-item nav-link" %>
          <%= link_to "My events", user_path(current_user), class: "nav-item nav-link" %>
          <%= link_to "Create event", new_event_path, class: "nav-item nav-link" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
        <% else %>
          <%= link_to "All events", events_path, class: "nav-item nav-link" %>
          <%= link_to "Sign up", new_user_registration_path, class: "nav-item nav-link" %>
          <%= link_to "Sign in", new_user_session_path, class: "nav-item nav-link" %>
        <% end %>
      </div>
    </nav>
    <div class="container">
    <% flash.each do |type, msg| %>
      <div class="alert alert-info" role="alert">
        <%= msg %>
      </div>
    <% end %>
      <%= yield %>
    </div>
  </body>
</html>
